{% extends 'layouts/base.html' %}

{% block title %} Raspberry Pi Devbox {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} About Us bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <section class="pt-3 pt-md-5 pt-lg-7 pb-md-5 pb-lg-7">
    <div class="container">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card shadow-lg">
          <div class="card-header bg-gradient-info p-5 position-relative">
            <h3 class="text-white mb-0">About Us</h3>
            <p class="text-white opacity-8 mb-4"></p>
            <div class="position-absolute w-100 z-index-1 bottom-0 ms-n5">
              <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto" style="height:7vh;min-height:50px;">
                <defs>
                  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="moving-waves">
                  <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
                  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                  <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95"></use>
                </g>
              </svg>
            </div>
          </div>
          <div class="card-body p-5 pt-0">
            <h4 class="mt-5 mb-3">Who We Are</h4>
            Quantiota is at the forefront of technological innovation, specializing in developing cutting-edge solutions in the realm of artificial intelligence. Our flagship creation, the AI Agent Host, epitomizes our commitment to advancing AI technology and its applications.
            <h4 class="mt-5 mb-3">Our Mission</h4>
            We are dedicated to reshaping the landscape of AI development and application. Our mission is to provide robust, efficient, and user-friendly AI tools and environments that empower businesses, developers, and enthusiasts to unlock the full potential of AI.
            <h4 class="mt-5 mb-3">Introducing the AI Agent Host</h4>
            Our AI Agent Host is a state-of-the-art, modular environment designed for rapid experimentation, efficient data management, and the seamless development of AI applications. It embodies our philosophy of making advanced AI technology accessible and practical for a wide range of users.
            <h4 class="mt-5 mb-3">Our Expertise</h4>
            With a strong foundation in software architecture and development, our team at Quantiota blends innovation with practicality. We excel in creating systems that are not only technically advanced but also intuitive and user-centric.

            <h4 class="mt-5 mb-3">Our Vision</h4>
            At Quantiota, we envision a future where AI is integral to solving complex problems and enhancing everyday life. We are committed to being at the vanguard of this evolution, constantly pushing the boundaries of what's possible in AI technology.
            <h4 class="mt-5 mb-3"> Connect with Us</h4>
            We welcome collaboration, feedback, and inquiries about our products and services. Join us on our journey to revolutionize the AI landscape. Connect with us here on LinkedIn or visit our website [website URL] for more information.


            
            </div>
    </div>
  </section>

  {% endblock content %}

  <!-- Specific JS goes HERE --> 
  {% block javascripts %}
  
    <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  
  {% endblock javascripts %}