{% extends 'layouts/base.html' %}

{% block title %} Page Headers {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} page-headers-sections {% endblock body_class %}

{% block content %}
  
  {% include "includes/navigation-light.html" %}

<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 my-auto">
            <h1 class="text-gradient text-warning mb-0">Your Desired</h1>
            <h1 class="mb-4">Experiences</h1>
            <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
            <div class="buttons">
              <button type="button" class="btn bg-gradient-warning mt-4">Discover</button>
              <button type="button" class="btn text-warning shadow-none mt-4">Read more</button>
            </div>
          </div>
          <div class="col-lg-8 ps-5 pe-0">
            <div class="row">
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desire.jpg" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/chair.jpg" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/facade.jpg" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/architecture.jpg" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/baloon.jpg" alt="">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-3" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/seaside.jpg" alt="">
                <img class="w-100 border-radius-lg shadow mt-4" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/medusa.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 5 w/ text and illustration ------- -->

  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>
  <script>
    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 70,
        backSpeed: 50,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }
  </script>

{% endblock javascripts %}
