{% extends 'layouts/base.html' %}

{% block title %} Raspberry Pi Devbox {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} AI Agent Host {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-transparent.html" %}
  <!-- -------- START HEADER 2 w/ waves and typed text ------- -->
<header class="position-relative">

  <div class="page-header min-vh-100" style="background-image: url(/static/assets/img/illustrations/kindle-header.jpg);">
    <span class="mask bg-gradient-primary"></span>
    <div class="container">

      <div class="row">
        <div class="col-lg-8 text-start">
          <h1 class="text-white">Mastering AI Agent Host <span class="text-white" id="typed"></span></h1>

          <p class="lead text-white text-start pe-5 mt-4">The Ultimate Guide to Building Your Weather Station, GPS Tracker and Market Data Analysis with Raspberry Pi. </p>
          <br />
          <div class="buttons">
            <button type="button" class="btn btn-lg btn-white">Contact Us</button>
            <button type="button" class="btn btn-lg btn-link text-white">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute w-100 z-index-1 bottom-0">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="moving-waves">
        <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(251,251,251,0.40" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(251,251,251,0.35)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(251,251,251,0.25)" />
        <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(251,251,251,0.20)" />
        <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(251,251,251,0.15)" />
        <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(251,251,251,0.95" />
      </g>
    </svg>
  </div>
</header>
<!-- -------- END HEADER 2 w/ waves and typed text ------- -->




  <section class="">
    <div class="container py-5">


      <div class="row align-items-center">
        <div class="col-lg-8 mx-auto text-center">
          <h3 class="text-gradient text-primary mb-0">Raspberry Pi 4 Devbox</h3>
          <p class="lead mb-md-5 mb-4">

            
              Unlock the full potential of the AI Agent Host and Raspberry Pi with our
              easy-to-use Weather Station, GPS Tracker and Market Data Analysis. Whether you're new to this
              technology or an experienced enthusiast, these tools open up exciting
              possibilities.
            </p>
          
        </div>
      </div>





      <div class="row align-items-center">
        <div class="col-md-6 mb-md-0 mb-4">



            <h3>You might be Wondering:</h3>
          
          <ul>
          <li> What can the AI Agent Host do for me?</li>
          <li> How does it all work together?</li>
          <li> How do you set it up?</li>
          <li> How does it differ from other setups?</li>
          <li> What do each of these components bring to the table?</li>
          <li> What cool projects can you create with them?</li>
          <li> How do you overcome common challenges while using this setup?</li>
          </ul>

          This guide provides straightforward answers to these questions, making it
          easy for you to harness the power of the AI Agent Host and create your
          Weather Station and GPS Tracker.
        
        <h3>In this guide, you will:</h3>
<ul>
        <li> Discover everything about the AI Agent Host and its capabilities.</li>
        <li> Follow step-by-step instructions to set up your Weather Station and GPS Tracker hardware.</li>
        <li> Learn how to work with the AI Agent Host, including setting it up on various platforms.</li>
        <li> Master the installation process, including working with VSCode, Grafana and QuestDB.</li>
        <li> Gain the ability to connect to and access your Weather Station, GPS Tracker and Market Data Analysis remotely.</li>
        <li> Explore innovative projects designed to get you started quickly.</li>
        <li> ... and much more!</li>
        </ul>

        </div>


        <div class="col-md-6">
          <div class="blur-shadow-image text-center">
            <img src="/static/assets/img/illustrations/cover.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg max-height-600">
          </div>
        </div>


      </div>
    </div>
  </section>


  
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}

