{% extends 'layouts/base.html' %}

{% block title %} Raspberry Pi Devbox {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} Ebook {% endblock body_class %}

{% block content %}
  
  {% include "includes/navigation-light.html" %}

  <section class="">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-6 mb-md-0 mb-4">
          <h3 class="text-gradient text-primary mb-0">Raspberry Pi 4 Devbox</h3>
        <!--  <h3>Powered By the AI Agent Host</h3>-->
          <p class="lead mb-md-5 mb-4">
            Unlock the full potential of the AI Agent Host and Raspberry Pi with our
            easy-to-use Weather Station, GPS Tracker and Market Data Toll. Whether you're new to this
            technology or an experienced enthusiast, these tools open up exciting
            possibilities.

            <h3>You might be Wondering:</h3>
          </p>
          <ul>
          <li> What can the AI Agent Host do for me?</li>
          <li> How does it all work together?</li>
          <li> How do you set it up?</p>
          <li> How does it differ from other setups?</li>
          <li> What do each of these components bring to the table?</li>
          <li> What cool projects can you create with them?</li>
          <li> How do you overcome common challenges while using this setup?</li>
          </ul>

          This guide provides straightforward answers to these questions, making it
          easy for you to harness the power of the AI Agent Host and create your
          Weather Station and GPS Tracker.
        
        <h3>In this guide, you will:</h3>
<ul>
        <li> Discover everything about the AI Agent Host and its capabilities.</li>
        <li> Follow step-by-step instructions to set up your Weather Station and GPS Tracker hardware.</li>
        <li> Learn how to work with the AI Agent Host, including setting it up on various platforms.</li>
        <li> Master the installation process, including working with VSCode, Grafana and QuestDB.</li>
        <li> Gain the ability to connect to and access your Weather Station and GPS Tracker remotely.</li>
        <li> Explore innovative projects designed to get you started quickly.</li>
        <li> How do you overcome common challenges while using this setup?</li>
        <li> ... and much more!</li>
        </ul>
        
        </div>


        <div class="col-md-6">
          <div class="blur-shadow-image text-center">
            <img src="/static/assets/img/illustrations/cover.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg max-height-600">
          </div>
        </div>


      </div>
    </div>
  </section>


  
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}