{% extends 'layouts/base.html' %}

{% block title %} Buttons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} features-sections {% endblock body_class %}

{% block content %}
  
  {% include "includes/navigation-light.html" %}

  <section class="">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-6 mb-md-0 mb-4">
          <h3 class="text-gradient text-primary mb-0">Medium Length Headline</h3>
          <h3>Very nice subtitle</h3>
          <p class="lead mb-md-5 mb-4">
            Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add controls and more.
          </p>
          <p><span class="me-2">&#9679;</span> Showcase and embed your work with</p>
          <p><span class="me-2">&#9679;</span> Publish across social channels in a click</p>
          <p><span class="me-2">&#9679;</span> Sell your videos worldwide</p>
          <p><span class="me-2">&#9679;</span> Make more profit</p>
        </div>
        <div class="col-md-6">
          <div class="blur-shadow-image text-center">
            <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro-flask-v1.0.5/img/curved-images/curved5.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg max-height-600">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
