{% extends 'layouts/base.html' %}

{% block title %} Devbox Services {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} Remote Services bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg  w-100 position-relative z-index-2" src="/static/assets/img/programming.jpg">
               
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">Devbox Services</h4>
                <div class="d-block">
                  <a href="/contact-us.html">
                  <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">Contact Us</button></a>
                </div>
              </div>

              <p class="text-lg mb-0">
                <p>
                <h5 class="mb-0"> Remote Devbox Setup Services</h5>
                Are you excited about our RASPBERRY PI 5 8 GB DevBox but want a Remote DevBox Setup Service on your own Raspberry Pi? We offer a comprehensive Remote DevBox Setup Service to ensure that your DevBox is up and running smoothly on your Raspberry Pi 5. Here's what our service includes:
                </p>
                
                
                <p>
                <h5 class="mb-0"> Remote Installation: </h5>
                Our team will remotely access your Raspberry Pi 5, ensuring that you don't need to worry about the technical details. We will perform the complete installation of the DevBox software and configure it according to your requirements.
                </p>
                
                
                
                <p>
                <h5 class="mb-0"> Backup Image Creation: </h5>
                As an added benefit, we'll create a complete backup image of your Raspberry Pi setup at this stage. This image is a snapshot of your fully configured system, ensuring that you have a recovery point in case of any unforeseen issues.
                </p>
                
                <p>
                <h5 class="mb-0"> Ongoing Support: </h5>
                 We offer ongoing support to address any questions, issues, or updates you may require. You can reach out to us for technical assistance, troubleshooting, or further customization.
                </p>
               
                <br>
                
                <a href="/ai-development.html" class="text-info icon-move-right">AI Development
                  <i class="fas fa-arrow-right text-sm ms-1"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-5">Check the latest developments</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-image border-radius-lg position-relative">
              <a href="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-host-diagram.png">
                <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-host-diagram.png">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="https://raw.githubusercontent.com/quantiota/AI-Agent-Host" class="text-dark font-weight-bold">AI Agent Host</a>
              </h5>
              <p>
                The AI Agent Host is a module-based environment designed to 
                facilitate rapid experimentation and testing. ...
              </p>
              <a href="https://github.com/quantiota/AI-Agent-Host" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-image border-radius-lg position-relative">
              <a href="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-lab-diagram.png">
                <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-lab-diagram.png">
              </a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="https://github.com/quantiota/AI-Agent-Lab" class="text-dark font-weight-bold">AI Agent Lab</a>
              </h5>
              <p>
                The AI Agent Lab is a module-based environment for working 
                with the GPT-4 architecture...
              </p>
              <a href="https://github.com/quantiota/AI-Agent-Lab" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card card-plain card-blog">
            <div class="card-image border-radius-lg position-relative">
              <a href="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-farm-diagram.png">
                <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/ai-agent-farm-diagram.png"></a>
            </div>
            <div class="card-body px-0">
              <h5>
                <a href="https://github.com/quantiota/AI-Agent-Farm" class="text-dark font-weight-bold">AI Agent Farm</a>
              </h5>
              <p>
                The AI Agent Farm is a powerful infrastructure for running multiple
                 AI tasks simultaneously, and...
              </p>
              <a href="https://github.com/quantiota/AI-Agent-Farm" class="text-info icon-move-right">Read More
                <i class="fas fa-arrow-right text-sm"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12">
          <div class="card card-blog card-background">
            <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/quantiota/ecommerce-flask-stripe-cicd/master/app/static/assets/img/illustrations/kindle.png')"></div>
            <div class="card-body">
              <div class="content-left text-left my-auto py-4">
                <a href="/ebook.html">
                  <h2 class="card-title text-white">Mastering AI Agent Host</h2>
                  <p class="card-description text-white"> The Ultimate Guide to Building Your Weather Station, GPS Tracker and Market Data analysis tool with Raspberry Pi</p>.</p>
                  <a href="/ebook.html" class="text-white icon-move-right">Read More
                    <i class="fas fa-arrow-right text-sm"></i>
                  </a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- -------   START PRE-FOOTER 6 - title & description and input    -------- -->
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto text-center">
        <h6 class="opacity-5">
          The AI Agent Host is built with top open-source software</h6>
      </div>
    </div>

    <div class="row mb-7">
        


      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-docker.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-docker-compose.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-vscode.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-questdb.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-grafana.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-nginx.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-letsencrypt.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-openai.svg">
      </div>


      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-langchain.svg">
      </div>


      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-flask.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-jupyterhub.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-python.svg">
      </div>

      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-julia.svg">
      </div>


      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-r.svg">
      </div>



      <div class="col-lg-1 cd-md-3 col-6 mb-4">
        <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-prometheus.svg">
      </div>

    </div>



  </div>
</div>
<!-- -------   END PRE-FOOTER 6 - title & description and input    -------- -->



  

  <section class="py-lg-7">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-7">
                <form role="form" class="p-3" id="contact-form" method="post">
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>LET'S TALK!</h2>
                    <p class="lead"> Please give us as much detail as you can regarding your project and/or questions!</p>
                  </div>
                  <div class="card-body pt-1">
                    <div class="row">
                      <div class="col-md-12 pe-2 mb-3">
                        <label>My name is</label>
                        <input class="form-control" placeholder="Full Name" type="text">
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <label>Details</label>
                        <input class="form-control" placeholder="Your project and/or questions" type="text">
                      </div>
                      <div class="col-md-12 pe-2 mb-3">
                        <div class="form-group mb-0">
                          <label>Your message</label>
                          <textarea name="message" class="form-control" id="message" rows="6" placeholder="I want to say that..."></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-right ms-auto">
                        <button type="submit" class="btn btn-round bg-gradient-info mb-0">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('/static/assets/img/curved-images/curved5.jpg')">
                <div class="position-absolute z-index-2 w-100 h-100 top-0 start-0 d-lg-block d-none">
                  <img src="/static/assets/img/wave-1.svg" class="h-100 ms-n2">
                </div>
                <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                  <div class="mask bg-gradient-info opacity-9"></div>
                  <div class="p-5 ps-sm-8 position-relative text-left my-auto z-index-2">
                    <h3 class="text-white">Contact Information</h3>
                    <p class="text-white opacity-8 mb-4">Fill up the form and our Team will get back to you within 24 hours.</p>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-phone text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">(+33)614772488</span>
                      </div>
                    </div>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-envelope text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">info@quantiota.com</span>
                      </div>
                    </div>
                    <div class="d-flex p-2 text-white">
                      <div>
                        <i class="fas fa-map-marker-alt text-sm"></i>
                      </div>
                      <div class="ps-3">
                        <span class="text-sm opacity-8">23 Avenue du Granier 38240 Meylan</span>
                      </div>
                    </div>
                    <div class="mt-4">
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Facebook">
                        <i class="fab fa-facebook"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Twitter">
                        <i class="fab fa-twitter"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Dribbble">
                        <i class="fab fa-dribbble"></i>
                      </button>
                      <button type="button" class="btn btn-icon-only btn-link text-white btn-lg mb-0" data-toggle="tooltip" data-placement="bottom" data-original-title="Log in with Instagram">
                        <i class="fab fa-instagram"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
