{% extends 'layouts/base.html' %}

{% block title %} Raspberry Pi Devbox {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} AI Agent Host {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-transparent.html" %}
  <!-- -------- START HEADER 2 w/ waves and typed text ------- -->
<header class="position-relative">

  <div class="page-header min-vh-100" style="background-image: url(/static/assets/img/illustrations/kindle-header.jpg);">
    <span class="mask bg-gradient-primary"></span>
    <div class="container">

      <div class="row">
        <div class="col-lg-8 text-start">
          <h1 class="text-white">Mastering AI Agent Host <span class="text-white" id="typed"></span></h1>

          <p class="lead text-white text-start pe-5 mt-4">The Ultimate Guide to Building Your Weather Station, GPS Tracker and Market Data Analysis with Raspberry Pi. </p>
          <br />
          <div class="buttons">
            <button type="button" class="btn btn-lg btn-white">Contact Us</button>
            <button type="button" class="btn btn-lg btn-link text-white">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute w-100 z-index-1 bottom-0">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="moving-waves">
        <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(251,251,251,0.40" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(251,251,251,0.35)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(251,251,251,0.25)" />
        <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(251,251,251,0.20)" />
        <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(251,251,251,0.15)" />
        <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(251,251,251,0.95" />
      </g>
    </svg>
  </div>
</header>
<!-- -------- END HEADER 2 w/ waves and typed text ------- -->




<section class="">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-md-6 mb-md-0 mb-4">
          <h3 class="text-gradient text-primary mb-0">Medium Length Headline</h3>
          <h3>Very nice subtitle</h3>
          <p class="lead mb-md-5 mb-4">
            Change the color to match your brand or vision, add your logo, choose the perfect thumbnail, remove the playbar, add controls and more.
          </p>
          <p><span class="me-2">&#9679;</span> Showcase and embed your work with</p>
          <p><span class="me-2">&#9679;</span> Publish across social channels in a click</p>
          <p><span class="me-2">&#9679;</span> Sell your videos worldwide</p>
          <p><span class="me-2">&#9679;</span> Make more profit</p>
        </div>
        <div class="col-md-6">
          <div class="blur-shadow-image text-center">
            <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro-flask-v1.0.5/img/curved-images/curved5.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg max-height-600">
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
